<div class="header">
    <nav>
        <ul class="menu">
            <li>
                <img [src]="">
            </li>
            <li>
                <a href="#/" class="Acceuil">{{ Title }}</a>
            </li>
            <li>
                <a href="#/" class="Onglet">Générations</a>
            </li>
            <li>
                <a href="#/" class="Onglet"> Types</a>
            </li>
            <li class="login">
                <button ng-click="login()">Connexion</button>
            </li>
            <li class="subscribe">
                <a href="#/inscription"><button>Inscription</button></a>
            </li>
        </ul>
    </nav>
</div>